# Ignorar node_modules
node_modules/

# Ignorar archivos de entorno
.env

# Ignorar configuración de VS Code
.vscode/

# Ignorar archivos de log
*.log

# Ignorar archivos de dependencias
#package-lock.json
#yarn.lock

# Ignorar resultados de tests y cobertura
coverage/
.nyc_output/

# Ignorar archivos de compilación (si usas TypeScript o Babel)
dist/
build/
*.tsbuildinfo


# Ignorar archivos de log
npm-debug.log*
yarn-debug.log*
*.log

# Ignorar archivos de sistema
.DS_Store
Thumbs.db
Desktop.ini